.basic{
    height: 600px;
    width: 500px;
    background-color: #eaeaff;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
.first{
    width: 100%;
    background-color: #5fcbfd;
    display: flex;
    align-items: flex-start;
    justify-content:space-between ;
    margin: 10px;
}
.second{
    width: 100%;
    background-color: plum;
    display: flex;
    align-items: flex-start;
    justify-content:space-evenly ;
    margin: 10px;
}
.third{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content:space-evenly ;
    margin: 10px;
}